// В этом файле должны быть стили для БЭМ-блока main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main {

  $block-name:                &; // #{$block-name}__element

}

.intro {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 103px;
  display: flex;
  align-items: center;
  background: #f5f4f6;

  @media (max-width: $screen-lg) {
    height: auto;
    min-height: auto;
    padding-top: 0;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__text-box {
    flex: 0 0 55%;
    max-width: 55%;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media (max-width: $screen-sm) {
      .btn {
        width: 100%;
      }
    }
  }
  &__image-box {
    flex: 0 0 45%;
    max-width: 45%;
    text-align: center;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__title {
    color: #ff0000;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.3;

    span {
      text-decoration: underline;
      font-size: 36px;
      line-height: 1.1;
      font-weight: 700;
    }

    @media (max-width: $screen-xl) {
      font-size: 22px;

      span {
        font-size: 28px;
      }
    }
  }

  &__text {
    font-size: 22px;
    margin: 30px 0;
    line-height: 1.25;

    @media (max-width: $screen-xl) {
      font-size: 18px;
    }

    @media (max-width: $screen-lg) {
      max-width: 420px;
      margin: 30px auto;
    }
  }

  &__action {
    font-size: 12px;
  }
}


.know-1 {
  padding: 90px 0;
  text-align: center;
  background: rgb(244,238,255);
  background: linear-gradient(0deg, rgba(244,238,255,1) 0%, rgba(197,213,255,1) 100%);

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  h3 {
    max-width: 1035px;
    margin: 0 auto 30px auto;
  }

  .lead {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;

    @media (max-width: $screen-lg) {
      font-size: 18px;
    }
  }
}

.scenario {
  padding: 90px 0;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 90px 0;

    @media (max-width: $screen-lg) {
      margin: 0 0 45px 0;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__step {
    flex: 0 0 23%;
    max-width: 23%;
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(175,175,175,.15);
    padding: 60px 20px;
    border-radius: 6px;

    @media (max-width: $screen-lg) {
      flex: 0 0 48%;
      max-width: 48%;
      margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
      flex: 0 0 100%;
      max-width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__step-icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.round {
      border: 2px solid #d10404;
      border-radius: 50%;
      position: relative;

      &::before {
        content: "";
        width: 30px;
        height: 18px;
        position: absolute;
        top: 26px;
        left: 25px;
        border-left: 5px solid #d10404;
        border-bottom: 5px solid #d10404;
        transform: rotate(-45deg);
      }
    }
  }
  &__step-title {
    font-size: 16px;
    font-weight: 500;

    &.round {
      color: #d10404;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.know-2 {
  background: #f5f5f5;
  padding: 90px 0;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 60px 0;

    @media (max-width: $screen-lg) {
      margin: 0 0 45px 0;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $screen-lg) {
      justify-content: center;
    }
  }

  &__card {
    flex: 0 0 30%;
    max-width: 30%;
    background: #d60404;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 40px 25px;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 400px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__card-inner {
    padding-left: 80px;
    position: relative;

    @media (max-width: $screen-xl) {
      padding: 80px 0 0 0 ;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__card-icon {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $screen-xl) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__card-title {
    font-size: 16px;
    font-weight: 700;
  }
}


.express-calculator {
  padding: 90px 0;
  background: #505794;
  color: #fff;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    margin: 0 0 90px 0;
    text-align: center;

    @media (max-width: $screen-lg) {
      margin: 0 0 25px 0;
    }

    span {
      display: block;

      @media (max-width: $screen-lg) {
        display: inline;
      }

      &:last-child {
        color: #fceb03;
      }
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__col-caption  {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5%;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .lead {
      font-size: 36px;
      line-height: 1.3;

      @media (max-width: $screen-lg) {
        font-size: 24px;
        line-height: 1.2;
      }

      span {
        color: #fceb03;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-left: 45px;

      @media (max-width: $screen-lg) {
        margin-left: 0;
        margin-bottom: 35px;
      }

      li {
        position: relative;
        padding-left: 45px;

        &:after {
          content: "";
          position: absolute;
          top: 4px;
          left: 0;
          width: 30px;
          height: 30px;
          background-image: url(../img/gift-icon.png);
          background-repeat: no-repeat;
          background-size: contain;
        }

        h4 {
          color: #fceb03;
          margin-bottom: 0;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  &__col-form  {
    flex: 0 0 50%;
    max-width: 50%;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__form {
    color: initial;
    display: block;
    background: #fff;
    border-radius: 6px;
    padding: 40px;
    height: 540px;

    @media (max-width: $screen-lg) {
      padding: 30px 25px 30px 25px;

      .btn {
        width: 100%;
      }
    }
  }
}


.ask {
  padding: 90px 0;
  background: #f5f5f5;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__col-image {
    flex: 0 0 45%;
    max-width: 45%;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }

    p {
      font-size: 22px;
      line-height: 1.3;

      @media (max-width: $screen-lg) {
        font-size: 16px;
      }
    }
  }

  &__col-form {
    flex: 0 0 45%;
    max-width: 45%;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    h3 {
      margin-top: 25px;
      text-align: center;
      line-height: 1.25;
    }

    p {
      text-align: center;
      margin-bottom: 30px;
    }

    .field-actions {
      .btn {
        width: 100%;
      }
    }
  }
}

.importantly {
  padding: 90px 0;
  background: #fff;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    color: #d10404;
    text-align: center;
    margin: 0 0 30px 0;

    @media (max-width: $screen-lg) {
      margin: 0 0 10px 0;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__col-image {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 2%;
    text-align: center;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
    }

    h4 {
      font-size: 30px;
      text-align: center;

      @media (max-width: $screen-lg) {
        font-size: 28px;
        line-height: 1.2;
      }
    }
  }
  &__col-caption {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 2%;
    text-align: center;

    @media (max-width: $screen-lg) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0;
    }

    h4 {
      font-size: 30px;

      @media (max-width: $screen-lg) {
        font-size: 28px;
        line-height: 1.2;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      font-weight: 300;
      font-size: 22px;

      @media (max-width: $screen-lg) {
        font-size: 18px;
      }
      li {
        padding: 4px 0;
      }
    }

    p {
      margin-bottom: 20px;
    }

    .lead {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.3;
    }

    .btn {
      white-space: normal;
    }
  }
}

.know-3 {
  padding: 90px 0;
  background: #d2ecfa;
  text-align: center;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    max-width: 930px;
    margin: 0 auto 20px auto;
  }

  .lead {
    font-size: 24px;
    margin-bottom: 60px;

    @media (max-width: $screen-lg) {
      font-size: 18px;
      margin-bottom: 35px;
    }
  }
}

.instruction {
  padding: 90px 0;
  background: #505794;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__icon {
    width: 94px;
    height: 94px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 15px auto;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 20px;
    }
  }

  &__title {
    max-width: 1000px;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #fff;
  }

  &__form {
    max-width: 500px;
    margin: auto;
    display: flex;

    @media (max-width: $screen-lg) {
      flex-wrap: wrap;
    }

    .field-text {
      flex-grow: 1;

      @media (max-width: $screen-lg) {
        margin-bottom: 20px;
      }
    }

    .field-text,
    .field-actions,
    .field-actions .btn {
      margin: 0;

      @media (max-width: $screen-lg) {
        width: 100%;
      }
    }

    .field-text__input-wrap {
      margin-right: 15px;
    }
    .field-text__input {
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      background-color: transparent;
      padding-left: 0;
      color: #fff;
      font-weight: 700;
      font-size: 15px;

      &::placeholder {
        color: #fff;
        font-weight: 700;
      }

      &:focus {
        box-shadow: none;

        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}

.stage {
  padding: 90px 0;
  background: #d2ecfa;

  &__title {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .lead {
    font-size: 22px;
    text-align: center;
    margin-bottom: 70px;

    @media (max-width: $screen-lg) {
      font-size: 18px;
      margin-bottom: 45px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 30%;
    max-width: 30%;
    counter-increment: step-counter;
    margin-bottom: 30px;

    &:last-child {
      margin: auto;
    }

    @media (max-width: $screen-xl) {
      flex: 0 0 48%;
      max-width: 48%;

      &:last-child {
        margin: 0 0 30px 0;
      }
    }

    @media (max-width: $screen-md) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.stage-card {
  color: #fff;
  background: #505794;
  padding: 35px 20px;
  height: 100%;
  border-radius: 6px;

  &__num {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    background: #fceb03;
    position: relative;

    &::before {
      content: counter(step-counter);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
      font-weight: 700;
      color: #505794;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #fceb03;
    position: relative;
    margin: 0 auto 20px auto;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 18px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #fceb03;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;

    li {
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 1.2;
      padding-left: 35px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 25px;
        height: 12px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
      }
    }
  }

  &__action {
    text-align: center;
    margin-bottom: 20px;
  }
}

.advantage {

  padding: 90px 0;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 60px;

    @media (max-width: $screen-lg) {
      margin: 0 0 45px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 25px;

    @media (max-width: $screen-lg) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: $screen-sm) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__item-icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: #ccc;
    margin-bottom: 20px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }
}

.know-4 {
  padding: 90px 0;
  text-align: center;
  background: #505794;
  color: #fff;

  &__title {
    margin:  0 0 25px 0;
  }

  .lead {
    font-size: 22px;

    @media (max-width: $screen-lg) {
      font-size: 18px;
    }
  }
}

.faq {
  padding: 90px 0;
  background: #d2ecfa;

  @media (max-width: $screen-lg) {
    padding: 45px 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 60px 0;

    @media (max-width: $screen-lg) {
      margin: 0 0 45px 0;
    }
  }

  &__inner {
    max-width: 690px;
    margin: auto;
    margin-bottom: 30px;
  }

  &__feedback-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  &__feedback-form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: 750px;
    margin: auto;

    @media (max-width: $screen-lg) {
      flex-direction: column;
      align-items: stretch;
    }

    .field-text {
      margin-right: 15px;
      flex-grow: 1;

      @media (max-width: $screen-lg) {
        margin-right: 0;
      }
    }

    .field-actions {
      margin: 0;
      margin-bottom: 1.05769em;

      .btn {
        margin-bottom: 1px;

        @media (max-width: $screen-lg) {
          width: 100%;
        }
      }
    }
  }
}


.quiz-section {
  padding: 90px 0;

  @media (max-width: $screen-lg) {
    padding: 60px 0;
  }
}
