// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #1b1b1c;
  overflow: hidden;
  color: #fff;
  padding: 10px 0;
  text-align: center;

  p {
    font-size: 14px;
  }
}
